.block {
    width: 900px;
    margin: auto;
    text-transform: uppercase;
}

ul {
    padding: 0px;
    text-align: center;
}

li {
    display: inline-block;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    color: #7c7c7c;
    list-style-type: none;
    margin: 50px;
}

a {
    text-decoration-line: none;
    color: #7c7c7c;
}
a:hover {
    font-size: 14px;
    color: #03a9f4;
    list-style-type: none;
}

.wrapper {
    width: 900px;
    margin: auto;
    font-size: 0;
}

/* .card {
    font-size: 0;
} */

.card {
    display: inline-block;
    vertical-align: top;
    width: 420px;
    min-height: 478px;
    font-family: 'Playfair Display', serif;
    color: #7c7c7c;
    margin-right: 60px;
    margin-bottom: 30px;
}

.card:nth-of-type(2n) {
    margin-right: 0;
}

.card img {
    width: 100%;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    text-align: left;
    color: #626262;
    margin-bottom: 34px;
}

div p {
    text-align: left;
}
h4 {
    font-size: 14px;
    text-transform: uppercase;
    color: #b4ad9e;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: normal;
}

p {
    font-size: 14px;
}

footer {
    text-align: center;
}

.control {
    margin: 0 auto 60px auto;
    background: transparent;
    border-width: 1px;
    border-color: #626262;
    border-style: solid;
    font-size: 20px;
    font-family: "Playfair Display";
    color: #626262;
    line-height: 1.2;
    padding: 20px 34px;
}